h1{
    color: blue;
    text-align: center; 
    background-color: yellow;
}

.one{

    
    margin-left: 140px;
    
}

#three{
     
    text-align: center;
    background-color: greenyellow;
}
#four{
 border: 1px solid black;
 background-color: rgb(95, 95, 231);
}




